<!DOCTYPE html>
<html>
  <head>
    <title>SageWithin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="navigation-header" class="header">
      <div class="logo-image">
        <%= image_tag "logo" %>
      </div>

      <!-- 
      <div class="navigation">
        <div class="nav_item">
          <%= link_to "Home", root_path %>
        </div>
        <div class="nav_item">
          <%= link_to "About", about_path %>
        </div>
        <div class="nav_item">
          <%= link_to "Counseling", counseling_path %>
        </div>
        <div class="nav_item">
          <button class="btn btn-primary">Let&lsquo;s Work Together</button>
        </div>
      </div>
      -->
    </div>

    <%= yield %>
  </body>
</html>
